
.alinhamento{
    width: 60%;
    background: rgba(255,255,255,0.75);
    border-radius: 2%;
    position: relative;
    top: 20%;
    left: 20%;
    border-radius: 5px;  
}
.texto{
  font-family: cursive;
    color: rgb(0,0,0,);
    margin: 5% 5% 5% 5%;
    font-family: cursive;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: larger;
    padding: 5% 5% 5% 5%;
    font-weight: bold;
}
.btn {
    font-size: xx-large;
    color: #fff;
    text-decoration: none;
    background: rgba(0,0,0,0.4);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
    height: 20%;
    margin-top: 15%;
    margin-left: 30%;
    font-family: cursive;
    align-items: center;
  }
  .btn:hover {
    background: rgba(0,0,0,0.75);
  }
  .rpe{
    font-weight: bold;
    font-size: xx-large;
    font-family: cursive;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 5%;
  }
  p{
    tab-size: 2%;
  }
  .titulo {
    margin-top: 5%;
    color: #fff;
    align-items: center;
    text-align: center;
  }
  